<%- include('../partials/static-header') %>


<div class="container">
    <h1 class="display-4 mb-4">All Competitions</h1>
    <% competitions.reverse() %>
    <div class="d-flex justify-content-between">
        <form action="/competitions" method="GET" class="form-inline d-lg-inline d-md-block float-left">
            <div class="form-group">
                <input class="form-control" type="text" name="search" placeholder="Competition Search">
                <button class="btn btn-outline-primary">Search <i class="fa fa-search"></i></button>
            </div>
        </form>
        <form action="/competitions" method="GET" class="form-inline d-lg-inline d-md-block">
            <div class="form-group">
                <label class="" for="">Sort By:     </label>
                <select name="filter" id="" class="form-control">
                    <option value="0">Filter Options</option>
                    <option value="upcoming">Upcoming Competitions</option>
                    <option value="over">Finished Competitions</option>
                    <option value="free">Free Competitions</option>
                    <option value="paid">Paid Competitions</option>
                </select>
                <button class="btn btn-outline-primary">Filter</button>
            </div>
        </form>
        <form action="/competitions" method="GET" class="form-inline d-lg-inline d-md-block">
            <div class="form-group">
                <label for="" class="">Category: </label>
                <select class="form-control" name="sort" id="">
                    <option value="0">Categories</option>
                    <option value="MUN">MUN</option>
                    <option value="Debate / Public Speaking">Debate / Public Speaking</option>
                    <option value="Science">Science</option>
                    <option value="Writing">Writing</option>
                    <option value="Business">Business</option>
                    <option value="Art / Design">Art / Design</option>
                </select>
                <button class="btn btn-outline-primary">Search</button>

            </div>
        </form>
    </div>
    <hr>

    <div class="row text-center mb-4 mt-4 px-2" style="display: flex; flex-wrap: wrap;">
        <% for(let competition of competitions){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <% if(competition.date < Date.now()){ %>
                    <div class="card" style="background: #cccccc">
                <% } else { %>
                    <div class="card">
                <% } %>
                    <img src="<%= competition.images[0].url %>" class="card-img-top" style="min-height: 25vh; max-height: 35vh" alt="Competition Image">
                    <div class="card-body">
                    <h4 class="card-title"><%= competition.title %></h4>
                    </div>
                    <% let avg = 0 %>
                    <% let cnt = 0; %>
                    <% for(let rating of ratings){ %>
                        <% for(let compRating of competition.ratings){ %>
                            <% if(rating.comp_title == competition.title){ %>
                                <% cnt++ %>
                                <% avg += rating.rating %>
                            <% } %>
                        <% } %>
                    <% } %>
                    <% if(avg !== 0){ %>
                        <% avg = avg / cnt %>
                    <% } %>
                    <p>
                        <% if(avg !== 0){ %>
                            <% for(let i = 1; i <= 5; i++){ %>
                                <span class="<%= avg >= i ? 'fas' : 'far' %> fa-star"></span>
                            <% } %>
                        <% } %>
                    </p>

                    <p>
                        <a href="/competitions/<%= competition._id %>" class="btn btn-primary" style="margin-bottom: 10px;">Learn More</a>
                    </p>
                </div>
            </div>
        <% } %>
    </div>
</div>

<%- include('../partials/footer') %>