<%- include('../partials/static-header') %>


<div class="container">
    <h1 class="display-4 mb-4">All Events</h1>
    <% if(competitions){ %>
        <% competitions.reverse() %>
    <% } %>
    <div class="">
        <form action="/competitions" method="GET" class="form-inline">
            <div class="form-group col-md-4">
                <input class="form-control w-100" type="text" name="search" placeholder="Competition Search">
            </div>
            <br>
            <div class="form-group col-md-3">
                <!-- <label class="" for="">Sort By:     </label> -->
                <select name="filter" id="" class="form-control w-100">
                    <option value="0">Filter Options</option>
                    <option value="upcoming">Upcoming Competitions</option>
                    <option value="over">Finished Competitions</option>
                    <option value="free">Free Competitions</option>
                    <option value="paid">Paid Competitions</option>
                </select>
            </div>
            <br>
            <div class="form-group col-md-3">
                <!-- <label for="" class="">Category: </label> -->
                <select class="form-control w-100" name="sort" id="">
                    <option value="0">Categories</option>
                    <option value="MUN">MUN</option>
                    <option value="Debate / Public Speaking">Debate / Public Speaking</option>
                    <option value="Science">Science</option>
                    <option value="Writing">Writing</option>
                    <option value="Business">Business</option>
                    <option value="Art / Design">Art / Design</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-outline-primary">Apply</button>
            </div>
        </form>
    </div>
    <hr>

    <div class="row text-center mb-4 mt-4 px-2" style="display: flex; flex-wrap: wrap;">
        <% for(let competition of competitions){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <% if(competition.date < Date.now()){ %>
                    <div class="card" style="background: #cccccc">
                <% } else { %>
                    <div class="card">
                <% } %>
                    <img src="<%= competition.images[0].url %>" class="card-img-top" style="min-height: 25vh; max-height: 35vh" alt="Competition Image">
                    <div class="card-body">
                    <h4 class="card-title"><%= competition.title %></h4>
                    </div>
                    <% if(ratings){ %>
                        <% let avg = 0 %>
                        <% let cnt = 0; %>
                        <% for(let rating of ratings){ %>
                            <% for(let compRating of competition.ratings){ %>
                                <% if(rating.comp_title == competition.title){ %>
                                    <% cnt++ %>
                                    <% avg += rating.rating %>
                                <% } %>
                            <% } %>
                        <% } %>
                        <% if(avg !== 0){ %>
                            <% avg = avg / cnt %>
                        <% } %>
                        <p>
                            <% if(avg !== 0){ %>
                                <% for(let i = 1; i <= 5; i++){ %>
                                    <span class="<%= avg >= i ? 'fas' : 'far' %> fa-star"></span>
                                <% } %>
                            <% } %>
                        </p>
                    <% } %>

                    <p>
                        <a href="/competitions/<%= competition._id %>" class="btn btn-primary" style="margin-bottom: 10px;">Learn More</a>
                    </p>
                </div>
            </div>
        <% } %>
    </div>
        <nav aria-label="Page navigation">
            <% if (pages && pages > 0) { %>
            <ul class="pagination justify-content-center">
                <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                <li><a class="page-link" href="/competitions?<%= JSON.stringify(query) %>">First</a></li>
                <% } %>
         
                <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">«</a></li>
                <% } else { %>
                <li><a class="page-link" href="/competitions?<%= JSON.stringify(query) %>&page=<%= Number(current) - 1 %>">«</a></li>
                <% } %>
         
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                <li class="active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                <li><a class="page-link" href="/competitions?<%= JSON.stringify(query) %>&page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% } %>
         
                <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">»</a></li>
                <% } else { %>
                <li><a class="page-link" href="/competitions?<%= JSON.stringify(query) %>&page=<%= Number(current) + 1 %>">»</a></li>
                <% } %>
         
                <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                <li><a class="page-link" href="/competitions?<%= JSON.stringify(query) %>&page=<%= pages %>">Last</a></li>
                <% } %>
            </ul>
            <% } %>
        </nav>

</div>

<%- include('../partials/footer') %>