<%- include('../partials/static-header') %>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

<style>
    .nav-tabs .nav-item .nav-link.active {
        color: black;
    }
</style>

<div class="container">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <h1 class="display-4 mb-4">All Events</h1>
    <% if(competitions){ %>
        <% competitions.reverse() %>
    <% } %>
    <div class="">
        <form action="/competitions" method="GET" class="form-inline">
            <div class="form-group col-md-4">
                <input class="form-control w-100" type="text" name="search" placeholder="Competition Search" value="">
            </div>
            <br>
            <div class="form-group col-md-3">
                <!-- <label class="" for="">Sort By:     </label> -->
                <select name="filter" id="" class="form-control w-100">
                    <option value="0">Filter Options</option>
                    <option value="free">Free Competitions</option>
                    <option value="paid">Paid Competitions</option>
                </select>
            </div>
            <br>
            <div class="form-group col-md-3">
                <!-- <label for="" class="">Category: </label> -->
                <select class="form-control w-100" name="sort" id="">
                    <option value="0">Categories</option>
                    <option value="MUN">MUN</option>
                    <option value="Debate / Public Speaking">Debate / Public Speaking</option>
                    <option value="Science">Science</option>
                    <option value="Writing">Writing</option>
                    <option value="Business">Business</option>
                    <option value="Art / Design">Art / Design</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-outline-primary">Apply</button>
            </div>
        </form>
    </div>
    <hr>

    <div class="row text-center mb-4 mt-4 px-2" style="display: flex; flex-wrap: wrap;">
        <ul class="nav nav-tabs" style="margin-right:60%;">
            <li class="nav-item">
              <a class="nav-link active" id="up" aria-current="page" role="tab" data-toggle="tab" href="#upcoming">Upcoming</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" id="finish" data-toggle="tab" role="tab" href="#finished">Finished</a>
            </li>
        </ul>
        <% let upcoming = [] %>
        <% let finished = [] %>
        
        <% for(let competition of competitions) { %>
            <% competition.date < Date.now() ? finished.push(competition) : upcoming.push(competition) %>
        <% } %>
        <% let hgec = upcoming[6] %>
        <% let first = upcoming.slice(0, 6) %>
        <% upcoming = [...first, upcoming.slice(6, upcoming.length - 1)] %>
        <%= console.log(upcoming) %>
        

        <!-- <div class="row text-center mb-4 mt-4 px-2" id="pageLoad" style="display: flex; flex-wrap: wrap;"> -->
            <div id="upcomingDisplay" class="row text-center mb-4 mt-4 px-2" style="display: flex; flex-wrap: wrap;">
                <!-- hgec comp -->
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                    <img src="<%= hgec.images[0].url %>" class="card-img-top" style="min-height: 25vh; max-height: 35vh" alt="Competition Image">
                        <div class="card-body">
                            <h4 class="card-title"><%= hgec.title %></h4>
                        </div>
                        <% if(ratings){ %>
                            <% let avg = 0 %>
                            <% let cnt = 0; %>
                            <% for(let rating of ratings){ %>
                                <% for(let compRating of hgec.ratings){ %>
                                    <% if(rating.comp_title == hgec.title){ %>
                                        <% cnt++ %>
                                        <% avg += rating.rating %>
                                    <% } %>
                                <% } %>
                            <% } %>
                            <% if(avg !== 0){ %>
                                <% avg = avg / cnt %>
                            <% } %>
                            <p>
                                <% if(avg !== 0){ %>
                                    <% for(let i = 1; i <= 5; i++){ %>
                                        <span class="<%= avg >= i ? 'fas' : 'far' %> fa-star"></span>
                                    <% } %>
                                <% } %>
                            </p>
                        <% } %>
                        <p>
                            <a href="/competitions/hgec" class="btn btn-primary" style="margin-bottom: 10px;">Learn More</a>
                        </p>
                    </div>
                </div>

                <!-- mwd -->
                <!-- <div id="upcomingDisplay" class="row text-center mb-4 mt-4 px-2" style="display: flex; flex-wrap: wrap;"> -->
                    <!-- hgec comp -->
                   

                <% for(let competition of upcoming) {%>
                    <% if(competition.images !== undefined){ %>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                    <img src="<%= competition.images[0].url %>" class="card-img-top" style="min-height: 25vh; max-height: 35vh" alt="Competition Image">
                        <div class="card-body">
                            <h4 class="card-title"><%= competition.title %></h4>
                        </div>
                        <% if(ratings){ %>
                            <% let avg = 0 %>
                            <% let cnt = 0; %>
                            <% for(let rating of ratings){ %>
                                <% for(let compRating of competition.ratings){ %>
                                    <% if(rating.comp_title == competition.title){ %>
                                        <% cnt++ %>
                                        <% avg += rating.rating %>
                                    <% } %>
                                <% } %>
                            <% } %>
                            <% if(avg !== 0){ %>
                                <% avg = avg / cnt %>
                            <% } %>
                            <p>
                                <% if(avg !== 0){ %>
                                    <% for(let i = 1; i <= 5; i++){ %>
                                        <span class="<%= avg >= i ? 'fas' : 'far' %> fa-star"></span>
                                    <% } %>
                                <% } %>
                            </p>
                        <% } %>
                        <p>
                            <a href="/competitions/<%= competition._id %>" class="btn btn-primary" style="margin-bottom: 10px;">Learn More</a>
                        </p>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>

            <div id="finishedDisplay" class="row text-center mb-4 mt-4 px-2" style="display: flex; flex-wrap: wrap;">
                <% for(let competition of finished) {%>
                    <% if(competition.images[0].url !== undefined){ %>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                    <img src="<%= competition.images[0].url %>" class="card-img-top" style="min-height: 25vh; max-height: 35vh" alt="Competition Image">
                        <div class="card-body">
                        <h4 class="card-title"><%= competition.title %></h4>
                        </div>
                        <% if(ratings){ %>
                            <% let avg = 0 %>
                            <% let cnt = 0; %>
                            <% for(let rating of ratings){ %>
                                <% for(let compRating of competition.ratings){ %>
                                    <% if(rating.comp_title == competition.title){ %>
                                        <% cnt++ %>
                                        <% avg += rating.rating %>
                                    <% } %>
                                <% } %>
                            <% } %>
                            <% if(avg !== 0){ %>
                                <% avg = avg / cnt %>
                            <% } %>
                            <p>
                                <% if(avg !== 0){ %>
                                    <% for(let i = 1; i <= 5; i++){ %>
                                        <span class="<%= avg >= i ? 'fas' : 'far' %> fa-star"></span>
                                    <% } %>
                                <% } %>
                            </p>
                        <% } %>
                        <p>
                            <a href="/competitions/<%= competition._id %>" class="btn btn-primary" style="margin-bottom: 10px;">Learn More</a>
                        </p>
                    </div>
                    </div>
                    <% } %>
                <% } %> 
            </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="upcoming">
                <div class="row text-center mb-4 mt-4 px-2" style="display: flex; flex-wrap: wrap;">
                
            </div>
        </div>
            <div role="tabpanel" class="tab-pane fade" id="finished">
            <div class="row text-center mb-4 mt-4 px-2" style="display: flex; flex-wrap: wrap;">
            
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(() => {
        $('#finishedDisplay').hide();

        $('#up').click(function(){
            $('#finishedDisplay').hide();
            $('#upcomingDisplay').show();
            // alert('clicked');
        })
        $('#finish').click(function(){
            $('#upcomingDisplay').hide();
            $('#finishedDisplay').show();
            // alert('clicked')
        })
    })
</script>

<%- include('../partials/footer') %>