<%- include('../partials/static-header') %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" style="max-height: 85vh">
                  <% for(let [index, image] of comp.images.entries()){ %>
                    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                        <img class="d-block w-100" src="<%= image.url %>" alt="Third slide">
                    </div>
                  <% } %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3 mt-5">
                <div class="card-body">
                    <h4 class="card-title"><%= comp.title %></h4>
                    <p><em>Posted by <%= comp.fromClubName %></em></p>
                    <% if((currentUser && currentUser.repOf.toLowerCase() == comp.fromClubName.toLowerCase()) || currentUser.isOwner){ %>
                        <a class="btn btn-warning" href="/competitions/<%= comp._id %>/edit">Edit</a>
                        <form method="POST" action="/competitions/<%= comp._id %>?_method=DELETE" style="display: inline;">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>

                    <% let avg = 0 %>
                    <% for(let rating of ratings){ %>
                       <% avg += rating.rating %>
                    <% } %>
                    <% avg = avg / ratings.length %>
                    <p>
                        <% if(avg == 0){ %>
                            <span>No ratings yet.</span>
                        <% } else { %>
                            <% for(let i = 1; i <= 5; i++){ %>
                                <span class="<%= avg > i ? 'fas' : 'far' %> fa-star"></span>
                            <% } %> %>
                        <% } %>
                    </p>
                    <p class="lead mt-3">Category:
                        <% for(let [index, cat] of comp.category.entries()){ %>
                            <span><%= cat %><%= index == comp.category.length - 1 ? " " : ", " %></span>
                        <% } %>
                    </p>
                    <hr>
                    <p class="card-text"><%= comp.desc %></p>
                    <p>Happening on: <%= comp.date.toLocaleDateString() %></p>
                    <p>Location: <%= comp.location %></p>
                    <hr>
                    <p><%= comp.details %></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="list-group mb-4">
                <li class="list-group-item mb-3" style="padding: 0 0; border: 0;">
                    <a class="btn btn-primary btn-block" href="<%= comp.signupLink %>" target="_blank">Sign Up</a>
                </li>
                <li class="list-group-item">contact: email</li>
                <li class="list-group-item">Social Media link will be here</li>
            </div>
            <% let flag = false; %>
            <% for(let rating of ratings){ %>
                <% if(rating.author.username == currentUser.username){ %>
                    <% flag = true; %>
                    <% break; %>
                    <%= console.log(rating) %>
                <% } %>
            <% } %>
            <% if(!flag){ %>
                <form action="/competitions/<%= comp._id %>/rating" method="POST">
                    <!-- Change starability-basic to different class to see animations. -->
                    <fieldset class="starability-basic">
                      <legend>Rating:</legend>
                      <input type="radio" id="no-rate" class="input-no-rate" name="rating[rating]" value="0" checked aria-label="No rating." />
                
                      <input type="radio" id="rate1" name="rating[rating]" value="1" />
                      <label for="rate1">1 star.</label>
                
                      <input type="radio" id="rate2" name="rating[rating]" value="2" />
                      <label for="rate2">2 stars.</label>
                
                      <input type="radio" id="rate3" name="rating[rating]" value="3" />
                      <label for="rate3">3 stars.</label>
                
                      <input type="radio" id="rate4" name="rating[rating]" value="4" />
                      <label for="rate4">4 stars.</label>
                
                      <input type="radio" id="rate5" name="rating[rating]" value="5" />
                      <label for="rate5">5 stars.</label>
                
                      <!-- <span class="starability-focus-ring"></span> -->
                    </fieldset>
                    <button class="btn btn-warning btn-sm mt-2">Submit Rating</button>
                </form>
            <% } else { %>
                
                <% let currentRating; %>
                <% for(let rating of ratings){ %>
                    <% if(rating.author.username == currentUser.username){ %>
                        <% currentRating = rating %>
                        <% break; %>
                    <% } %>
                <% } %>

                <p class="starability-result" data-rating="<%= currentRating.rating %>">
                  Rated: <%= currentRating.rating %> stars
                </p>
                <p>Rating already submitted</p>
            <% } %>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>