<%- include('./partials/static-header') %>

<head>
    <title>Your Online CV</title>
    <link rel="stylesheet" href="../assets/css/online-cv.css" >
</head>

<div style="display: flex;">

<div class="col-md-4" style="margin-left:4%; border-right: 1px solid #a5a5a5c9;">
    <div class="card">
        <img src="/img/default-avatar.png" id="pfp" src="" alt="Profile Picture" class="card-img-top" style="min-height: 45vh; max-height: 120vh">
    </div>
    <h1><%= user.firstName %> <%= user.lastName %></h1>
    <h3>Details:</h3>
    <ul style="list-style: none;">
        <li><p>School: <%= user.school %></p></li>
        <li><p>Year/Grade: <%= user.yearLevel %></p></li>
        <li><p>Email: <%= user.email %></p></li>
    </ul>
</div>

<div class="col-md-6" style="margin-left: 3%; margin-top: -2%; overflow-y: scroll; overflow-x: scroll;">
    <h1>Competitions Completed</h1><hr>
    <div style="overflow-y: scroll;">
    <a href="#"><div class="card" href="#">
        <div class="card-body">
          <h4 class="card-title mb-3">TGCC</h4>
            <p class="" style="font-weight: 400;">Skills Gained: Presentation, Business mindset</p>
            <p class=""  style="font-weight: 400;">Awards Won: Regional Case Winner</p>

          <a href="#" class="btn btn-black">Link to competition</a>
        </div>
      </div></a>
    <a href="#"><div class="card" href="#">
        <div class="card-body">
          <h4 class="card-title mb-3">Youth Financial Analysis Competition</h4>
            <p class="" style="font-weight: 400;">Skills Gained: Financial Literacy, Economic Analysis</p>
            <p class=""  style="font-weight: 400;">Awards Won: None</p>
          <a href="#" class="btn btn-black">Link to competition</a>
        </div>
      </div></a>
    
    <a href="#"><div class="card" href="#">
        <div class="card-body">
          <h4 class="card-title mb-3">NASA CineSpace</h4>
          <p style="font-weight: 400;">Skills Gained: Filmmaking</p>
          <p class=""  style="font-weight: 400;">Awards Won: None</p>
          <a href="#" class="btn btn-black">Link to competition</a>
        </div>
      </div></a>
    </div>
</div>

</div>

<%- include('./partials/footer') %>