<%- include('../partials/static-header') %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="<%= user.pfImage %>" alt="" class="card-img-top" style="min-height: 40vh; max-height: 120vh">
            </div>
            <a href="/my-profile/edit" class="btn btn-outline-warning btn-block btn-round">Edit</a>
            <h3 class="mb-2">Details: </h3>
            <ul style="list-style: none;">
                <li><p>School: <%= user.school %></p></li>
                <li><p>Year/Grade: Year <%= user.yearLevel %> / Grade<%= user.yearLevel - 1 %></p></li>
                <li><p>Email: <%= user.email %></p></li>
            </ul>
            <h5>Role: <%= user.isOwner || user.isAdmin ? 'Admin' : 'Standard User' %></h5>
        </div>
        <div class="col-md-8">
            <h1 class="display-2"><%= user.firstName %> <%= user.lastName %></h1>
            <p class="lead"><%= user.username %></p>

            <h3>Enrolled Competitions: </h3>
            <hr>
            <ul style="list-style: none;">
                <% for(let comp of user.signedUpFor){ %>
                    <li class="mb-3">
                        <p class="lead mb-3" style="display: inline">
                            <%= comp.title %> <span>( Unverified )</span>
                        <form action="/<%= comp.id %>/remove" method="POST" style="display: inline;">
                            <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#verifyModal">Verify</button>
                        </form>
                        </p>
                    </li>


                    <div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel"><%= comp.title %></h5>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <h6 style="text-align: center;"><%= comp.title %></h6><!-- Add autofill for competition name I'm having a database bug on my machine-->
                                    <div class="form-group">
                                        <label for="awardsWon">Awards Won (if any):</label>
                                        <input type="text" class="form-control" id="awardsWon" name="cv[awards]" placeholder="Enter here">
                                    </div>
                                    <div class="form-group">
                                        <label for="skillsGained">Skills Gained (if any):</label>
                                        <input type="text" class="form-control" id="skillsGained" name="cv[skills]" placeholder="Enter here">
                                    </div>
                                    <div class="form-group" style="display: hidden">
                                        <input type="text" class="form-control" id="skillsGained" name="cv[competition]" value="<%= comp.title %>">
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin: 8px;">Close</button>
                                        <button type="submit" class="btn btn-primary" style="margin: 8px; margin-left: 0px;">Submit</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>

                <% } %>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Verification Form</h5>
        </div>
        <div class="modal-body">
            <form>
                <h6 style="text-align: center;">TGCC Competition</h6><!-- Add autofill for competition name I'm having a database bug on my machine-->
                <div class="form-group">
                    <label for="awardsWon">Awards Won (if any):</label>
                    <input type="text" class="form-control" id="awardsWon" placeholder="Enter here">
                </div>
                <div class="form-group">
                    <label for="skillsGained">Skills Gained (if any):</label>
                    <input type="text" class="form-control" id="skillsGained" placeholder="Enter here">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin: 8px;">Close</button>
                    <button type="submit" class="btn btn-primary" style="margin: 8px; margin-left: 0px;">Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>


<%- include('../partials/footer') %>