<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="updated/css/hub.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/globals.css" />
    <title>Comprich | Competitions</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  </head>
  <body style="margin: 0; background: #fffefd">
    <input type="hidden" id="anPageName" name="page" value="hub" />

    <div class="container-center-horizontal">
      <div class="hub screen">
        <div class="overlap-group6">
          <div class="overlap-group7">
            <div class="rectangle-11"></div>
            <div class="competition-hub josefinsans-semi-bold-white-80px">Competition Hub</div>
            <div class="tools">
              <div class="picked-for-you">
                <div class="picked-for-you-1 josefinsans-semi-bold-black-35px">Picked for You</div>
                <div class="frame">
                  <div class="overlap-group"></div>
                </div>
              </div>
              <a href="/survey"><img class="interest-quiz" src="updated/img/interest-quiz@2x.svg" /></a>
              <a href="/onlinecv"><img class="online-cv" src="updated/img/online-cv@2x.svg" /></a>
            </div>
            <div class="filter">
              <form action="/competitions" method="GET" style="display: flex; flex-direction: row; justify-content: center;">
                <div class="overlap-group3">
                  <img class="frame-1" src="updated/img/frame@2x.svg" />
                  <div class="search"><input type="text" class="search" name="search" placeholder="Search" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%"></div>
                </div>
                <div class="overlap-group2">
                  <div class="filter-1 valign-text-middle josefinsans-normal-black-25px">
                    <select name="filter" id="" aria-placeholder="Filter">
                      <option value="0">Filter Options</option>
                      <option value="free">Free Competitions</option>
                      <option value="paid">Paid Competitions</option>
                  </select>
                  </div>
                  <img class="frame-2" src="updated/img/frame-2@2x.svg" />
                </div>
                <div class="overlap-group1">
                  <div class="category valign-text-middle josefinsans-normal-black-25px">
                    <select name="sort" id="">
                      <option value="0">Category</option>
                      <option value="MUN">MUN</option>
                      <option value="Debate / Public Speaking">Debate / Public Speaking</option>
                      <option value="Science">Science</option>
                      <option value="Writing">Writing</option>
                      <option value="Business">Business</option>
                      <option value="Art / Design">Art / Design</option>
                  </select>
                  </div>
                  <img class="frame-3" src="updated/img/frame-1@2x.svg" />
                </div>
                <button style="border: none; outline: none; background: none;"><div class="overlap-group-1"><div class="find josefinsans-bold-black-30px">FIND</div></div></button>
              </form>
            </div>
            <div class="browse-opportunities josefinsans-semi-bold-white-25px">
              Browse opportunities around the world and use our tools to find what’s best for you.
            </div>
            <div class="header">
              <a href="/home"><img class="logo-5" src="updated/img/logo-5@2x.png" /></a>
              <div class="group-8 josefinsans-bold-black-25px">
                <a href="/about"><div class="about-us">ABOUT US</div></a>
                <a href="/competitions"><div class="hub-1">HUB</div></a>
                <a href="/blog"><div class="our-blog">OUR BLOG</div></a>
                <% if(currentUser){ %>
                  <a href="/my-profile"><div class="overlap-group-2"><div class="sign-up josefinsans-bold-black-25px">PROFILE</div></div></a>
                <% } else { %>
                  <a href="/login"><div class="overlap-group-2"><div class="sign-up josefinsans-bold-black-25px">LOGIN</div></div></a>
                <% } %>
              </div>
            </div>
          </div>
          <div class="group-33">
            <a href="#upcoming" id="up">
              <div class="flex-col">
                <div class="all-upcoming josefinsans-semi-bold-black-35px">All Upcoming</div>
                <!-- <img class="line-3" id="upLine" src="updated/img/line-3@2x.svg" /> -->
              </div>
            </a>
            <% if(currentUser){ %>
              <!-- <div class="for-you josefinsans-semi-bold-black-35px-3">For You</div> -->
              <a href="#foryou" id="fy">
                <div class="flex-col">
                  <div class="foryou josefinsans-semi-bold-black-35px" style="left: 75px">For You</div>
                  <!-- <img class="line-3" id="upLine" src="updated/img/line-3@2x.svg" /> -->
                </div>
              </a>
            <% } %>
            
            <a href="#finished" id="finish">
              <div class="flex-col">
                <div class="past-competitions josefinsans-semi-bold-black-35px-3">Past Competitions</div>
                <!-- <img class="line-3" id="finishLine" src="updated/img/line-3@2x.svg" style="display: none;" /> -->
              </div>
            </a>
          </div>
          
          <% competitions.reverse() %>
          <% let upcoming = [] %>
          <% let finished = [] %>
          <% for(let competition of competitions) { %>
              <% competition.date < Date.now() ? finished.push(competition) : upcoming.push(competition) %>
          <% } %>
          <% let foryou = [] %>

          <% if(currentUser){ %>
            <% let count = 0 %>
            <% let foryou = upcoming %>
            <% foryou = foryou.filter(comp => comp.category.includes(currentUser.recCategory)) %>
            <% console.log(currentUser.recCategory) %>
            
          <% } %>



          <div class="home" id="upcomingDisplay">
            <% for(let i = 0; i < upcoming.length; i+=3){ %>
              <% if(upcoming[i+2] == undefined || upcoming[i + 1] == undefined || upcoming[i] == undefined){ %>
                <% break %>
              <% } %>
              <% let comps = [upcoming[i], upcoming[i + 1], upcoming[i + 2]] %>
              <div class="gallery" style="padding-left: 100px">
                <% for(competition of comps){ %>
                  <div class="overlap-group1">
                    <img class="image-41" src="<%= competition.images[0].url %>" />
                    <div class="tiger-global-case-competition josefinsans-normal-black-24px">
                      <%= competition.title %>
                    </div>
                    <a href="/competitions/<%= competition._id %>">
                      <div class="overlap-groupx">
                        <div class="learn-more josefinsans-semi-bold-white-18px">LEARN MORE</div>
                      </div>
                    </a>
                  </div>
                <% } %>
              </div>
              <% } %>
          </div>

          
            <div class="home" id="forDisplay">
              <% if(foryou.length > 0){ %>
                  <% for(let i = 0; i < foryou.length; i+=3){ %>
                    <% if(foryou[i+2] == undefined || foryou[i + 1] == undefined || foryou[i] == undefined){ %>
                      <% break %>
                    <% } %>
                    <% let comps = [foryou[i], foryou[i + 1], foryou[i + 2]] %>
                    <div class="gallery" style="padding-left: 100px">
                      <% for(competition of comps){ %>
                        <div class="overlap-group1">
                          <img class="image-41" src="<%= competition.images[0].url %>" />
                          <div class="tiger-global-case-competition josefinsans-normal-black-24px">
                            <%= competition.title %>
                          </div>
                          <a href="/competitions/<%= competition._id %>">
                            <div class="overlap-groupx">
                              <div class="learn-more josefinsans-semi-bold-white-18px">LEARN MORE</div>
                            </div>
                          </a>
                        </div>
                      <% } %>
                    </div>
                    <% } %>
              <% } else if (currentUser && !currentUser.hasTakenRec) { %>
                <div style="padding-bottom: 300px">
                  <p style="left: 150px; top: 100px" class="josefinsans-normal-black-45px">Take recommendation quiz <a style="color: blue; text-decoration: underline;" href="/survey">here</a> to get personalized competitions</p>

                </div>
              <% } %>

            </div>

          <div class="home" id="finishedDisplay">
            <% for(let i = 0; i < finished.length; i+=3){ %>
              <% if(finished[i+2] == undefined || finished[i + 1] == undefined || finished[i] == undefined){ %>
                <% break %>
              <% } %>
              <% let comps = [finished[i], finished[i + 1], finished[i + 2]] %>
              <div class="gallery" style="padding-left: 100px">
                <% for(competition of comps){ %>
                  <div class="overlap-group1">
                    <img class="image-41" src="<%= competition.images[0].url %>" />
                    <div class="tiger-global-case-competition josefinsans-normal-black-24px">
                      <%= competition.title %>
                    </div>
                    <a href="/competitions/<%= competition._id %>">
                      <div class="overlap-groupx">
                        <div class="learn-more josefinsans-semi-bold-white-18px">LEARN MORE</div>
                      </div>
                    </a>
                  </div>
                <% } %>
              </div>
              <% } %>
          </div>

          
          <div class="group-container" style="max-height: 200px">
            <div class="group-55">
              <div class="overlap-group1-1">
                <div class="rectangle"></div>
                <img class="saly-17" src="updated/img/saly-17@2x.png" />
                <div class="start-your-own-competitive-journey josefinsans-semi-bold-black-35px">
                  Start your own competitive journey
                </div>
                <a href="/my-profile">
                  <div class="overlap-group-3">
                    <div class="open-profile josefinsans-bold-black-30px">OPEN PROFILE</div>
                  </div>
                </a>

              </div>
              <div class="overlap-group2-1">
                <div class="rectangle"></div>
                <img class="saly-10" src="updated/img/saly-10@2x.png" />
                <div class="share-your-wins josefinsans-semi-bold-black-35px">Share your wins</div>
                <div class="overlap-group-4">
                  <div class="let-us-know josefinsans-bold-black-30px">LET US KNOW</div>
                </div>
              </div>
            </div>
            <div class="overlap-group4">
              <div class="ready-to-work-with-comprich josefinsans-semi-bold-black-45px">
                Ready to work with Comprich?
              </div>
              <div class="overlap-group-5" id="scrollTop" onclick="topFunction()"><div class="back-to-top josefinsans-bold-black-30px">BACK TO TOP</div></div>
            </div>
            <div class="overlap-group5">
              <div class="flex-row">
                <img class="logo-1" src="updated/img/logo-1@2x.png" />
                <div class="overlap-group-6">
                  <a href="/register"><div class="get-started josefinsans-bold-black-30px">GET STARTED</div></a>
                </div>
              </div>
              <img class="vector-10" src="updated/img/vector-10@1x.svg" />
              <div class="group-container-1">
                <div class="group-17">
                  <div class="follow-us josefinsans-semi-bold-white-40px">Follow Us</div>
                  <div class="sm-links">
                    <a href=" https://www.instagram.com/comprichapp/?hl=en" target="_blank"><img class="socials" src="updated/img/Instagram.svg" style="display: inline"/></a>
                    <a href=" https://www.linkedin.com/company/comprich/" target="_blank"><img class="socials" src="updated/img/LinkedIn.svg" style="display: inline;"/></a>
                  </div>
                </div>
                <div class="group-18">
                  <div class="site josefinsans-semi-bold-white-40px">Site</div>
                  <div class="home-about-contact josefinsans-normal-white-30px">
                    <a href="/home">Home</a><br />
                    <a href="/about">About</a><br />
                    <a href="/contact">Contact</a></div>
                </div>
                <div class="group-20">
                  <div class="services josefinsans-semi-bold-white-40px">Services</div>
                  <div class="hub-blog josefinsans-normal-white-30px">
                    <a href="/competitions">Hub</a><br />
                    <a href="/blog">Blog</a></div>
                </div>
                <div class="group-19">
                  <div class="company josefinsans-semi-bold-white-40px">Company</div>
                  <div class="our-team-join-us-partnerships josefinsans-normal-white-30px">
                    <a href="/about#team">Our Team</a><br />
                  <a href="/contact">Join Us</a><br />
                  <a href="/partners">Partnerships</a>
                  </div>
                </div>
              </div>
              <div class="x2021-comprich-ma josefinsans-normal-white-28px">
                © 2021 Comprich | Made with 💛 by students
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>


<script>
  $(document).ready(() => {
      $('#finishedDisplay').hide();
      $('#forDisplay').hide();

      $('.foryou').css({
            'color': ' var(--black-5)'
          })

      $('#up').click(function(){
          $('#finishedDisplay').hide();
          $('#forDisplay').hide();
          $('#upcomingDisplay').show();
          $('.past-competitions').css({
            'color': ' var(--black-5)'
          })
          $('.foryou').css({
            'color': ' var(--black-5)'
          })
          $('.all-upcoming').css({
            'color': ' var(--black)'
          })
          $('#finishLine').hide();
          $('#upLine').show();
          // alert('clicked');
      })
      $('#finish').click(function(){
          $('#upcomingDisplay').hide();
          $('#forDisplay').hide();

          $('#finishedDisplay').show();
          $('.past-competitions').css({
            'color': ' var(--black)'
          })
          $('.all-upcoming').css({
            'color': ' var(--black-5)'
          })
          $('.foryou').css({
            'color': ' var(--black-5)'
          })
          $('#finishLine').show();
          $('#upLine').hide();
          // alert('clicked')
      })
      $('#fy').click(function(){
        $('#finishedDisplay').hide();
        $('#upcomingDisplay').hide();

        $('#forDisplay').show();
        $('#finishLine').hide();
        $('#upLine').hide();
        $('.foryou').css({
            'color': ' var(--black)'
          })
        $('.all-upcoming').css({
            'color': ' var(--black-5)'
        })
        $('.past-competitions').css({
          'color': ' var(--black-5)'
        })
      })

      //Get the button:
      mybutton = document.getElementById("scrollTop");

      // When the user scrolls down 20px from the top of the document, show the button
      // window.onscroll = function() {scrollFunction()};

      // function scrollFunction() {
      //   if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      //     mybutton.style.display = "block";
      //   } else {
      //     mybutton.style.display = "none";
      //   }
      // }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        alert('clicked')
      }
        })
</script>
</html>
