<%- include('partials/header') %>
<input type="hidden" id="anPageName" name="page" value="home" />

          <div class="overlap-group12">
            <div class="overlap-group6">
              <!-- <img class="card-2" src="updated/img/card-2@2x.svg" />
              <img class="card-1" src="updated/img/card-1@2x.svg" /> -->
              <img class="x3-d-1" src="updated/img/3d-1@1x.png" />
              <!-- <img class="group-10" src="updated/img/group-10@2x.svg" /> -->
            </div>
            <div class="connecting-you-and-opportunities">
              <div class="connecting-you-and-o josefinsans-semi-bold-black-80px">
                <span class="span0 josefinsans-semi-bold-black-80px">Connecting <br />you and opportunities<br /></span
                ><span class="josefinsans-semi-bold-black-50px"><br /></span
                ><span class="span2 josefinsans-normal-black-45px">Your competitive journey </span
                ><span class="span josefinsans-normal-black-45px">starts here.</span>
              </div>
              <a href="/register">
                <div class="overlap-group-3">
                    <div class="get-started-1 josefinsans-bold-black-30px">GET STARTED</div></a>
                </div>
              </a>
            </div>
          </div>
          <div class="overlap-group10">
            <div class="overlap-group5">
              <div class="rectangle-9"></div>
              <div class="how-we-help-you-succeed valign-text-middle">How we help you succeed</div>
              <div class="we-live-in-a-world-w josefinsans-normal-white-28px">
                <span class="span-1 josefinsans-normal-white-28px"
                  >We live in a world where opportunities are ample, yet difficult to discover. Competitions are
                  plentiful, yet require strenuous efforts to come across. <br /></span
                ><span class="span josefinsans-normal-white-28px"
                  >Comprich seeks to make this world just a little less </span
                ><span class="span-1 josefinsans-normal-white-28px"
                  >confusing. As opposed to spending countless hours searching for competitions, we have them all in one
                  convenient place.</span
                >
              </div>
              <img class="saly-2" src="updated/img/saly-2@1x.png" />
              <a href="/register">
                  <div class="overlap-group-4"><div class="get-started josefinsans-bold-black-30px">GET STARTED</div></div>
              </a>
              <div class="register-to-discover">Register to discover your hidden potential!</div>
            </div>
            <div class="icons">
              <img class="group-15" src="updated/img/group-15@1x.svg" />
              <div class="flex-row">
                <div class="flex-col">
                  <div class="get-started-2 josefinsans-semi-bold-black-35px-2">Get Started</div>
                  <div class="sign-up-unlock-vast-competitions josefinsans-normal-black-25px">
                    Sign up &amp; unlock vast competitions
                  </div>
                </div>
                <div class="flex-col-1">
                  <div class="discover josefinsans-semi-bold-black-35px-2">Discover</div>
                  <div class="x-best josefinsans-normal-black-25px">Filter &amp; search for what suits you best</div>
                </div>
                <div class="flex-col-2">
                  <div class="succeed josefinsans-semi-bold-black-35px-2">Succeed</div>
                  <div class="attend-competitions josefinsans-normal-black-25px">
                    Attend competitions of your choice &amp; dominate
                  </div>
                </div>
                <div class="flex-col-3">
                  <div class="repeat josefinsans-semi-bold-black-35px-2">Repeat</div>
                  <div class="x-best josefinsans-normal-black-25px">Evolve into the best version of yourself</div>
                </div>
              </div>
            </div>
          </div>
          <div class="latest-competitions">
            <div class="overlap-group4">
              <div class="latest-competitions-1 josefinsans-semi-bold-black-80px">Latest Competitions</div>
              <div class="were-dedicated-to-o">
                We’re dedicated to offering you the best opportunities so all you need to do is focus on your success.
                Join Comprich to discover personalized competitions picked just for you.
              </div>
            </div>
            <div class="gallery">
              <% comps.reverse() %>
              <% comps = comps.filter(c => c.school == 'Interschool') %>
              <!-- <img class="frame" src="updated/img/frame@2x.svg" /> -->
              <div style="width: 80px"></div>
              <% for(let i = 0; i < 3; i++){ %>
                  <div class="overlap-group1">
                    <img class="image-41" src="<%= comps[i].images[0].url %>" />
                    <div class="tiger-global-case-competition josefinsans-normal-black-24px">
                      <%= comps[i].title %>
                    </div>
                    <a href="/competitions/<%= comps[i]._id %>">
                      <div class="overlap-group">
                        <div class="learn-more josefinsans-semi-bold-white-18px">LEARN MORE</div>
                      </div>
                    </a>
                  </div>
              <% } %>
              
              <div style="width: 80px; margin-left: 35px"></div>
              <!-- <img class="frame-1" src="updated/img/frame-1@2x.svg" /> -->
            </div>
          </div>
          <div class="what-inspires-us">
            <div class="group-27">
              <div class="what-inspires-us-to">What inspires us to help students around the globe?</div>
              <a href="/about"><div class="learn-our-mission-and-meet-the-team">Learn our mission and meet the team</div></a>
            </div>
            <img class="saly-31" src="updated/img/saly-31@1x.png" />
          </div>
          <div class="overlap-group-container">
            <div class="overlap-group7">
              <div class="ready-to-work-with-comprich josefinsans-semi-bold-black-45px">
                Ready to work with Comprich?
              </div>
              <a href="/competitions">
                <div class="overlap-group-5">
                    <div class="explore-competition-hub josefinsans-bold-black-30px">EXPLORE COMPETITION HUB</div>
                </div>
              </a>
            </div>
<%- include('partials/footer') %>