<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="updated/css/account-cv.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/globals.css" />
  </head>
  <%- include('partials/flash') %>

  <body style="margin: 0; background: #fffefd">
    <input type="hidden" id="anPageName" name="page" value="account-cv" />
    <div class="container-center-horizontal">
      <div class="account-cv screen">
        <div class="overlap-group4">
          <img class="blob" src="updated/img/blob@1x.svg" />
          <div class="frame-7">
            <div class="side-bar">
                <a href="/hub"><img class="logo-4" src="updated/img/logo-4@2x.png" /></a>
                <a href="/my-profile">
                    <div class="dashboard">
                      <img class="frame" src="updated/img/frame-3@2x.svg" />
                      <div class="compete josefinsans-semi-bold-white-24px">Compete</div>
                  </div>
                </a>
                <a href="/onlinecv">
                  <div class="cv">
                      <img class="frame" src="updated/img/frame-4@2x.svg" />
                      <div class="cv-1 josefinsans-semi-bold-sunglow-24px">CV</div>
                  </div>
                </a>
                <a href="/my-profile/edit">
                  <div class="account">
                      <img class="frame" src="updated/img/frame-1@2x.svg" />
                      <div class="account-1 josefinsans-semi-bold-white-24px">Account</div>
                    </div>
                </a>
                <!-- <div class="settings">
                  <img class="frame" src="updated/img/frame@2x.svg" />
                  <div class="settings-1 josefinsans-semi-bold-white-24px">Settings</div>
                </div> -->
  
                <a href="/logout">
                  <div class="log-out">
                      <img class="frame" src="updated/img/frame-2@2x.svg" />
                      <div class="log-out-1 josefinsans-semi-bold-white-24px">Log Out</div>
                  </div>
                </a>
            </div>
            <div class="flex-col">
              <div class="flex-row">
                <div class="flex-col-1">
                  <div class="hello-john josefinsans-semi-bold-black-80px">Hello <%= user.firstName %>!</div>
                  <div class="online-cv valign-text-middle josefinsans-semi-bold-black-50px">Online CV</div>
                  <% for(cv of user.cv){ %>
                    <div class="won-section">
                        <div class="tion josefinsans-semi-bold-black-35px"><%= cv.competition %></div>
                        <div class="awards-won-first-pl josefinsans-bold-black-25px-2">
                          <span class="josefinsans-bold-black-25px-2">Awards Won</span
                          ><span class="josefinsans-normal-black-25px-2">: <%= cv.awards %><br /></span
                          ><span class="josefinsans-bold-black-25px-2">Skills Gained</span
                          ><span class="josefinsans-normal-black-25px-2">: <%= cv.skills %></span>
                        </div>
                      </div>
                  <% } %>
                  
                  <!-- <div class="won-section-1">
                    <div class="tion josefinsans-semi-bold-black-35px">NFTE World Series of Innovation</div>
                    <div class="awards-won-first-pl-1 josefinsans-bold-black-25px-2">
                      <span class="josefinsans-bold-black-25px-2">Awards Won</span
                      ><span class="josefinsans-normal-black-25px-2">: First Place<br /></span
                      ><span class="josefinsans-bold-black-25px-2">Skills Gained</span
                      ><span class="josefinsans-normal-black-25px-2">: Product Pitch</span>
                    </div>
                  </div> -->
                </div>
                <input type="text" value="www.comprich.org" id="myInput" style="display: none">
                <div class="overlap-group3">
                  <div class="rectangle-16"></div>
                  <button style="background: none; border: none; outline: none; cursor: pointer" onclick="myFunction()">
                    <div class="overlap-group-1"><div class="get-link josefinsans-bold-white-30px">GET LINK</div></div>
                  </button>
                  <div class="invite-friends josefinsans-semi-bold-black-35px">Invite Friends</div>
                  <img class="saly-3" src="updated/img/saly-3@2x.png" />
                </div>
              </div>
              <div class="overlap-group2">
                <div class="interest-quiz josefinsans-semi-bold-black-35px">Interest Quiz</div>
                <a href="/survey"><div class="overlap-group"><div class="place josefinsans-bold-black-30px">START</div></div></a>
              </div>
              <!-- <div class="overlap-group1">
                <div class="online-cv-1 josefinsans-semi-bold-black-35px">Online CV</div>
                <div class="overlap-group"><div class="update josefinsans-bold-black-30px">UPDATE</div></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function myFunction() {
    
      
   /* Copy the text inside the text field */
  navigator.clipboard.writeText("www.comprich.org");

  /* Alert the copied text */
  alert("Link copied to clipboard");
}
  </script>
</html>
