<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/updated/css/account-edit.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/globals.css" />
    <title>Account | Edit</title>
  </head>
  <%- include('partials/flash') %>

  <body style="margin: 0; background: #fffefd">
    <input type="hidden" id="anPageName" name="page" value="account-edit" />
    <div class="container-center-horizontal">
      <div class="account-edit screen">
        <div class="overlap-group8">
          <img class="blob" src="/updated/img/blob@1x.svg" />
          <div class="hello-john josefinsans-semi-bold-black-80px">Hello <%= user.firstName %>!</div>
          <div class="account-info valign-text-middle josefinsans-semi-bold-black-50px">Account Info</div>
          <form action="/my-profile?_method=PUT" method="POST" enctype="multipart/form-data">

          <div class="first-name-1">
            <div class="email josefinsans-normal-black-25px-2">Email</div>
            <div class="overlap-group1">
                <input class="josefinsans-normal-black-25px" type="email" name="user[email]" placeholder="Email" value="<%= user.email %>" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">

            </div>
          </div>
          
          <div class="first-name-2">
            <div class="first-name-3 josefinsans-normal-black-25px-2">First Name</div>
            <div class="overlap-group3">
                <input class="josefinsans-normal-black-25px" type="text" name="user[firstName]" placeholder="John" value="<%= user.firstName%>" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">

            </div>
          </div>
          <div class="last-name-1">
            <div class="last-name-2 josefinsans-normal-black-25px-2">Last Name</div>
            <div class="overlap-group4">
                <input class="josefinsans-normal-black-25px" type="text" name="user[lastName]" placeholder="Doe" value="<%= user.lastName%>" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
            </div>
          </div>
          <div class="first-name-4">
            <div class="year-grade josefinsans-normal-black-25px-2">Year/Grade</div>
            <div class="overlap-group">
                <select id="year" class="josefinsans-normal-black-25px-2" name="user[yearLevel]" required style="border: none">
                    <option value="0">Select grade level</option>
                    <% for(let i = 6; i < 13; i++){ %>
                        <option value="<%= i + 1 %>">Year <%= i + 1 %> / Grade <%= i %></option>
                    <% } %>
                </select>
                <div style="width: 35px; margin-left: 30px"></div>
              <!-- <img class="frame" src="/updated/img/frame@2x.svg" /> -->
            </div>
          </div>
          <!-- <div class="last-name-3">
            <div class="country josefinsans-normal-black-25px-2">Country</div>
            <div class="overlap-group">
              <div class="place valign-text-middle josefinsans-normal-black-25px">United States</div>
              <img class="frame" src="/updated/img/frame@2x.svg" />
            </div>
          </div> -->
          <button style="cursor: pointer"><div class="overlap-group7"><div class="save josefinsans-bold-black-30px">SAVE</div></div></button>
        
        </form>

          <div class="group-38">
            <a href="/competitions"><img class="logo-4" src="/updated/img/logo-4@2x.png" /></a>
            <a href="/my-profile">
                <div class="dashboard">
                    <img class="frame-1" src="/updated/img/frame-5@2x.svg" />
                    <div class="compete josefinsans-semi-bold-white-24px">Compete</div>
                </div>
            </a>
            <a href="/onlinecv">
                <div class="cv">
                    <img class="frame-1" src="/updated/img/frame-4@2x.svg" />
                    <div class="cv-1 josefinsans-semi-bold-white-24px">CV</div>
                </div>
            </a>

            <a href="/my-profile/edit">
                <div class="account">
                    <img class="frame-1" src="/updated/img/frame-3@2x.svg" />
                    <div class="account-1">Account</div>
                </div>
            </a>
            <!-- <div class="settings">
                <img class="frame-1" src="/updated/img/frame@2x.svg" />
                <div class="settings-1 josefinsans-semi-bold-white-24px">Settings</div>
            </div> -->
            <a href="/logout">
                <div class="log-out">
                    <img class="frame-1" src="/updated/img/frame-2@2x.svg" />
                    <div class="log-out-1 josefinsans-semi-bold-white-24px">Log Out</div>
                </div>
            </a>
          </div>
        </div>
        <div class="group-44">
          <div class="overlap-group1-1">
            <div class="rectangle-16"></div>
            <div class="overlap-group-3"><div class="get-link josefinsans-bold-white-30px">GET LINK</div></div>
            <button style="background: none; border: none; outline: none; cursor: pointer" onclick="myFunction()">
              <div class="invite-friends josefinsans-semi-bold-black-35px">Invite Friends</div>
              </button>
            <img class="saly-3" src="/updated/img/saly-3@2x.png" />
          </div>
          <div class="group-36">
            <div class="overlap-group2-1">
              <div class="interest-quiz josefinsans-semi-bold-black-35px">Interest Quiz</div>
              <a href="/survey"><div class="overlap-group-1"><div class="place-1 josefinsans-bold-black-30px">START</div></div></a>
            </div>
            <div class="overlap-group1-2">
              <div class="online-cv josefinsans-semi-bold-black-35px">Online CV</div>
              <a href="/onlinecv"><div class="overlap-group-1"><div class="update josefinsans-bold-black-30px">UPDATE</div></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function myFunction() {
    
      
   /* Copy the text inside the text field */
  navigator.clipboard.writeText("www.comprich.org");

  /* Alert the copied text */
  alert("Link copied to clipboard");
}
  </script>
</html>
