<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="/updated/css/view-a-competition.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/globals.css" />
    <title>Comprich | <%= comp.title %></title>
  </head>
  <body style="margin: 0; background: #fffefd">
    <input type="hidden" id="anPageName" name="page" value="view-a-competition" />
    <div class="container-center-horizontal">
      <div class="view-a-competition screen">
        <div class="header">
          <img class="logo-5" src="/updated/img/logo-5@2x.png" />
          <div class="group-8 josefinsans-bold-black-25px">
            <div class="about-us">ABOUT US</div>
            <div class="hub">HUB</div>
            <div class="our-blog">OUR BLOG</div>
            <div class="overlap-group"><div class="hi-john josefinsans-bold-black-25px">PROFILE</div></div>
          </div>
        </div>
        <div class="back-button">
          <img class="vector-1" src="/updated/img/vector@2x.svg" />
          <div class="back-to-all-competitions josefinsans-bold-black-25px">Back to all competitions</div>
        </div>
        <div class="tiger-global-case-competition josefinsans-semi-bold-black-80px"><%= comp.title %></div>
        <div class="column-container">
          <div class="column-1">
            <img class="image-41" src="/updated/img/image-41@2x.png" />
            <div class="overlap-group-1">
              <div class="competition-page josefinsans-bold-black-25px">Competition Page</div>
            </div>
            <div class="save">
              <img class="vector-2" src="/updated/img/vector@2x.png" />
              <div class="save-competition josefinsans-bold-black-25px">Save Competition</div>
            </div>
            <div class="application">
              <img class="vector-3" src="/updated/img/vector-5@2x.svg" />
              <div class="start-application josefinsans-bold-black-25px">Start Application</div>
            </div>
            <div class="feedback-section">
              <div class="feedback josefinsans-normal-black-25px-2">Feedback</div>
              <div class="overlap-group1">
                <div class="share-your-feedback josefinsans-normal-black-25px-3">Share your feedback...</div>
              </div>
              <div class="overlap-group-2"><div class="place">SEND</div></div>
            </div>
          </div>
          <div class="column-2">
            <% let flag2 = false; %>
            <% for(let c of currentUser.signedUpFor){ %>
                <% if(c.title === comp.title){ %>
                    <% flag2 = true; %>
                   <%  break; %>
                <% } %>
            <% } %>
            <% if(comp.signUpLastDate > Date.now()){ %>
                <% if(!flag2){ %>
                    <li class="list-group-item mb-3" style="padding: 0 0; border: 0;">
                        <form action="/competitions/<%= comp._id %>/signup" method="POST">
                            <button class="btn btn-primary btn-block" target="_blank">Sign Up</button>
                        </form>
                    </li>
                <% } else { %>
                    <p class="lead mb-3">Already signed up.</p>
                    <p> <em>If not signed up, visit your profile to remove from list of competitions.</em></p>
                <% } %>
            <% } else { %>
                <div class="sign-up-date-has-passed">Sign up date has passed</div>
                <% } %>
            <% if(comp.smLink){ %>
                <li class="list-group-item"><a href="<%= comp.smLink %>" target="_blank">Competition Social Media</a></li>
            <% } %>
            <% if(comp.websiteLink !== ''){ %>
                <li class="list-group-item">
                    <a href="<%= comp.websiteLink %>" target="_blank">Competition Website</a>
                </li>
            <% } %>
            <div class="group-51">
              <div class="due">
                <img class="vector" src="/updated/img/vector-1@2x.svg" />
                <div class="due-nov-9th-2021 josefinsans-bold-black-25px" style="max-width: 1000px">
                  <span class="josefinsans-bold-black-25px" style="max-width: 1000px">Due:</span
                  ><span class="josefinsans-normal-black-25px" style="max-width: 1000px"> <%= comp.signUpLastDate.toDateString() %></span>
                </div>
              </div>
              <div class="location">
                <img class="vector-4" src="/updated/img/vector-2@2x.svg" />
                <div class="location-worldwide-online josefinsans-bold-black-25px">
                  <span class="josefinsans-bold-black-25px">Location: </span
                  ><span class="josefinsans-normal-black-25px"><%= comp.location %></span>
                </div>
              </div>
              <div class="category">
                <img class="vector" src="/updated/img/vector-3@2x.svg" />
                <div class="category-business-finance josefinsans-bold-black-25px">
                  <span class="josefinsans-bold-black-25px">Category:</span
                  ><span class="josefinsans-normal-black-25px">
                    <% for(let [index, cat] of comp.category.entries()){ %>
                        <span><%= cat %><%= index == comp.category.length - 1 ? " " : ", " %></span>
                    <% } %></span>
                </div>
              </div>
              <div class="price">
                <img class="vector-5" src="/updated/img/vector-4@2x.svg" />
                <div class="price-us75-early">
                  <span class="josefinsans-bold-black-25px">Price: </span>
                  <span class="josefinsans-normal-black-25px">
                    <% if(comp.price){ %>
                        <span>Price: <%= comp.price %></span>
                    <% } else { %>
                        <span>Free</span>
                    <% } %>
                    </span>
                    <!-- <span class="span2">US$5 with discount code COMPRICH10</span
                  ><span class="josefinsans-normal-black-25px"></span> -->
                </div>
              </div>
            </div>
            <div class="calling-all-high-ach josefinsans-normal-black-25px">
              <%= comp.desc %>
              <br /><br />
              <%= comp.details %>
            </div>
          </div>
        </div>
        <div class="overlap-group2">
          <div class="view-all">
            <div class="overlap-group-3">
              <div class="view-all-competitions josefinsans-bold-black-30px">VIEW ALL COMPETITIONS</div>
            </div>
          </div>
          <div class="overlap-group1-1">
            <div class="flex-row">
              <img class="logo-1" src="/updated/img/logo-1@2x.png" />
              <div class="overlap-group-4"><div class="get-started josefinsans-bold-black-30px">GET STARTED</div></div>
            </div>
            <img class="vector-10" src="/updated/img/vector-10@1x.svg" />
            <div class="group-container">
              <div class="group-17">
                <div class="follow-us josefinsans-semi-bold-white-40px">Follow Us</div>
                <img class="socials" src="/updated/img/socials@2x.svg" />
              </div>
              <div class="group-18">
                <div class="site josefinsans-semi-bold-white-40px">Site</div>
                <div class="home-about-contact josefinsans-normal-white-30px">Home<br />About<br />Contact</div>
              </div>
              <div class="group-20">
                <div class="services josefinsans-semi-bold-white-40px">Services</div>
                <div class="hub-blog josefinsans-normal-white-30px">Hub<br />Blog</div>
              </div>
              <div class="group-19">
                <div class="company josefinsans-semi-bold-white-40px">Company</div>
                <div class="our-team-join-us-partnerships josefinsans-normal-white-30px">
                  Our Team<br />Join Us<br />Partnerships
                </div>
              </div>
            </div>
            <div class="x2021-comprich-ma josefinsans-normal-white-28px">
              © 2021 Comprich | Made with 💛 by students
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
