<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/updated/css/view-a-internship.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/globals.css" />
    <title>Comprich | <%= is.companyName %></title>
  </head>
  <%- include('partials/flash') %>

  <body style="margin: 0; background: var(--black)">
    <input type="hidden" id="anPageName" name="page" value="view-a-competition" />
    <div class="container-center-horizontal">
      <div class="view-a-competition screen">
        <div class="header">
          <a href="/home"><img class="logo-5" src="/updated/img/COMPRICH-WHITE.png" /></a>
          <div class="group-8 josefinsans-bold-black-25px">
            <a href="/hub"><div class="about-us">HUB</div></a>
            <% if(currentUser && currentUser.isAdmin == true){ %>
              <a href="/new"><div class="hub">NEW</div></a>
            <% } else { %>
              <a href="/about"><div class="hub">ABOUT US</div></a>
            <% } %>
            <% if(currentUser){ %>
              <a href="/logout"><div class="our-blog">LOGOUT</div></a>
              <a href="/my-profile"><div class="overlap-group"><div class="hi-john josefinsans-bold-black-25px">PROFILE</div></div></a>
            <% } else { %>
              <a href="/login"><div class="our-blog">LOGIN</div></a>
              <a href="/register"><div class="overlap-group"><div class="hi-john josefinsans-bold-black-25px">SIGN UP</div></div></a>
            <% } %>
          </div>
        </div>
        <a href="/internships">
          <div class="back-button">
            <img class="vector-1" src="/updated/img/vector@2x.svg" />
            <div class="back-to-all-competitions josefinsans-bold-black-25px" style="color: var(--white)">Back to all internships</div>
          </div>
        </a>
        
        <% if(is.companyName.length > 30){ %>
          <div class="tiger-global-case-competition josefinsans-semi-bold-white-80px" style="font-size: var(--font-size-xxxl);"><%= is.companyName %></div>
        <% } else { %>
          <div class="tiger-global-case-competition josefinsans-semi-bold-white-80px"><%= is.companyName %></div>
        <% } %>
        <div class="column-container">
          <div class="column-1">
            <img class="image-41" src="<%= is.companyLogo %>" />
            
           
            

            <% if(is.signUpDate > Date.now()){ %>
                <% if(is.signUpForm.subscript(0, 4) == "mail" || is.signUpForm.subscript(0,4) == 'http'){ %>
                  <a href="<%= is.signUpForm %>" >
                    <div class="overlap-group-1">
                      <button style="border: none; background: none; outline: none; cursor: pointer" target="_blank">
                        <div class="application" style="margin-top: 0">
                          <img class="vector-3" src="/updated/img/vector-5@2x.svg" />
                          <div class="start-application josefinsans-bold-black-25px" style="color: var(--black)">Start Application</div>
                        </div>
                      </button>
                    </div>
                  </a>
                <% } %>
              
            <% } else { %>
              <div class="application">
                <div class="start-application josefinsans-bold-black-25px" style="color: var(--white)">Sign up date has passed.</div>
              </div>            
              <% } %>

            
            
          </div>
          <div class="column-2">
                        
            <div class="group-51">
              <div class="due">
                <img class="vector" src="/updated/img/vector-white-3.png" style="color: var(--white)"/>
                <div class="due-nov-9th-2021 josefinsans-bold-black-25px" style="max-width: 1000px" style="color: var(--white)">
                  <span class="josefinsans-bold-black-25px" style="color: var(--white)" style="max-width: 1000px">Intern Position: </span
                  ><span class="josefinsans-normal-black-25px" style="color: var(--white)" style="max-width: 1000px"> <%= is.internPosition %></span>
                </div>
              </div>
              <div class="location">
                <img class="vector-4" src="/updated/img/vector-white-2.png" style="color: var(--white)" />
                <div class="location-worldwide-online josefinsans-bold-black-25px" style="color: var(--white)">
                  <span class="josefinsans-bold-black-25px" style="color: var(--white)">Location: </span
                  ><span class="josefinsans-normal-black-25px" style="color: var(--white)"><%= is.location %></span>
                </div>
              </div>
              <div class="location">
                <img class="vector-4" src="/updated/img/vector-white-1.png" style="color: var(--white)" />
                <div class="location-worldwide-online josefinsans-bold-black-25px" style="color: var(--white)">
                  <span class="josefinsans-bold-black-25px" style="color: var(--white)">Internship Date: </span
                  ><span class="josefinsans-normal-black-25px" style="color: var(--white)"><%= is.internDate %></span>
                </div>
              </div>
              <div class="due" style="margin-top: 20px">
                <img class="vector" src="/updated/img/vector-white-1.png" style="color: var(--white)"/>
                <div class="due-nov-9th-2021 josefinsans-bold-black-25px" style="max-width: 1000px" style="color: var(--white)">
                  <span class="josefinsans-bold-black-25px" style="max-width: 1000px;color: var(--white)">Last Date to Sign Up: </span>
                  <span class="josefinsans-normal-black-25px" style="max-width: 1000px;color: var(--white)"> <%= is.signUpDate.toDateString() %></span>
                </div>
              </div>
              <div class="category">
                <img class="vector" src="/updated/img/vector-white-3.png" style="color: var(--white)"/>
                <div class="category-business-finance josefinsans-bold-black-25px" style="color: var(--white)">
                  <span class="josefinsans-bold-black-25px" style="color: var(--white)">Age Requirement: </span>
                  <span class="josefinsans-normal-black-25px" style="max-width: 1000px;color: var(--white)"> <%= is.ageRequirement %></span>
                </div>
              </div>
              <div class="price">
                <img class="vector-5" src="/updated/img/vector-white-4.png" style="color: var(--white)"/>
                <div class="price-us75-early">
                  <span class="josefinsans-bold-black-25px" style="color: var(--white)">Stipend: </span>
                  <span class="josefinsans-normal-black-25px" style="color: var(--white)">
                    <% if(is.reimbursement){ %>
                        <span><%= is.reimbursement %></span>
                    <% } else { %>
                        <span>Unpaid</span>
                    <% } %>
                    </span>
                    <!-- <span class="span2">US$5 with discount code COMPRICH10</span
                  ><span class="josefinsans-normal-black-25px"></span> -->
                </div>
              </div>
            </div>
            <div class="calling-all-high-ach josefinsans-normal-black-25px" style="color: var(--white)">
              <%= is.desc %>
              <br /><br />
            </div>
            <% if((currentUser && (currentUser.isOwner || currentUser.isInternship) )){ %>
              <a href="/internships/<%= is._id %>/edit">
                <div class="overlap-group-1">
                  <div class="competition-page josefinsans-bold-black-25px">Edit Details</div>
                </div>
              </a>
              <form method="POST" action="/internships/<%= is._id %>?_method=DELETE" style="display: inline;">
                <button style="border: none; background: none; outline: none; cursor: pointer; padding: 0;">
                  <div class="overlap-group-1" style="background-color: #f64949e8">
                    <div class="competition-page josefinsans-bold-black-25px">Delete</div>
                  </div>
                </button>
              </form>
             <% } %>
          </div>
        </div>
        
        <div class="overlap-group2">
            <a href="/internships">
                <div class="view-all">
                    <div class="overlap-group-3">
                      <div class="view-all-competitions josefinsans-bold-black-30px" >VIEW ALL INTERNSHIPS</div>
                    </div>
                  </div>
            </a>
          
          <div class="overlap-group1-1">
            <div class="flex-row">
              <img class="logo-1" src="/updated/img/logo-1@2x.png" />
              <div class="overlap-group-4"><div class="get-started josefinsans-bold-black-30px">GET STARTED</div></div>
            </div>
            <img class="vector-10" src="/updated/img/vector-10@1x.svg" />
            <div class="group-container">
              <div class="group-17">
                <div class="follow-us josefinsans-semi-bold-white-40px">Follow Us</div>
                <div class="sm-links">
                  <a href=" https://www.instagram.com/comprichapp/?hl=en" target="_blank"><img class="socials" src="/updated/img/Instagram.svg" style="display: inline"/></a>
                  <a href=" https://www.linkedin.com/company/comprich/" target="_blank"><img class="socials" src="/updated/img/LinkedIn.svg" style="display: inline;"/></a>
              </div>
              </div>
              <div class="group-18">
                <div class="site josefinsans-semi-bold-white-40px">Site</div>
                <div class="home-about-contact josefinsans-normal-white-30px">
                  <a href="/home">Home</a><br />
                  <a href="/about">About</a><br />
                  <a href="/contact">Contact</a>
                </div>
              </div>
              <div class="group-20">
                <div class="services josefinsans-semi-bold-white-40px">Services</div>
                <div class="hub-blog josefinsans-normal-white-30px">
                  <a href="/competitions">Hub</a><br />
                  <a href="/blog">Blog</a>
                </div>
              </div>
              <div class="group-19">
                <div class="company josefinsans-semi-bold-white-40px">Company</div>
                <div class="our-team-join-us-partnerships josefinsans-normal-white-30px">
                  <a href="/about#team">Our Team</a><br />
                  <a href="/contact">Join Us</a><br />
                  <a href="/partners">Partnerships</a>
                </div>
              </div>
            </div>
            <div class="x2021-comprich-ma josefinsans-normal-white-28px">
              © 2021 Comprich | Made with 💛 by students
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function validateEmail (emailAdress)
      {
        let regexEmail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (emailAdress.match(regexEmail)) {
          return true; 
        } else {
          return false; 
        }
      }
  </script>
</html>
